:root {
  /* Colors */
  --white-color: #fff;
  --black-color: #080808;
  --yellow-color: #e5b94b;
  --red-color: #9c2004;

  /* Container */
  --max-width: 1280px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--red-color);
  color: var(--white-color);
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

main {
  max-width: var(--max-width);
  margin-inline: auto;
  margin-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1080px) {
  main {
    flex-direction: column;
  }
}

.image-container {
  position: relative;
  max-width: 656px;
}

.image-container .yellow-ellipse {
  position: absolute;
  z-index: -1;
}

.image-container .top-pattern {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.image-container .bottom-pattern {
  position: absolute;
  bottom: 10%;
  right: -7%;
  z-index: 10;
}

.image-container .hero-image {
  position: relative;
  z-index: 20;
}

.content {
  max-width: 487px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (max-width: 1080px) {
  .content {
    margin-left: unset;
  }
}

@media (max-width: 768px) {
  .content {
    padding-inline: 1rem;
  }
}

.content h1 {
  font-size: clamp(3.75rem, 3.1338rem + 2.6291vw, 5.5rem);
  line-height: 1.1;
}

.content p {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  font-weight: 300;
}

.content .yellow-btn {
  cursor: pointer;
  padding: 1.5rem 3.5rem;
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  border: none;
  border-radius: 2rem;
  background-color: var(--yellow-color);
  color: var(--black-color);
  width: fit-content;
  transition:
    background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.content .yellow-btn:hover {
  background-color: var(--black-color);
  color: var(--yellow-color);
  transform: translateY(-5px);
}
