:root {
  /* Colors */
  --pink-100: #e8d9d6;
  --white-900: #ffffff;
  --black-900: #252525;
  --brown-900: #271908;

  /* Container */
  --max-width: 1280px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--pink-100);
  color: var(--black-900);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

main {
  margin-block-end: 4rem;
  max-width: var(--max-width);
  margin-inline: auto;
}

@media (max-width: 1281px) {
  main {
    padding-inline: 1rem;
  }
}

.top {
  display: flex;
  justify-content: space-between;
}

.content {
  margin-block-start: 272px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 574px;
  margin-block-end: 206px;
}

@media (max-width: 800px) {
  .content {
    margin-block-end: 4rem;
  }
}

.content h1 {
  font-size: clamp(5rem, 4.2958rem + 3.0047vw, 7rem);
  line-height: 1.2;
}

.content p {
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
}

.content button {
  background-color: var(--brown-900);
  color: var(--white-900);
  padding: 1.5rem 2.5rem;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;
  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  font-family: var(--font-inter);
  font-weight: 500;
  line-height: 1.1;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
  width: fit-content;
}

.boba {
  position: absolute;
  top: 80px;
  z-index: -1;
}

.right-image {
  position: absolute;
  right: 0;
}

@media (max-width: 1452px) {
  .right-image {
    width: 60%;
  }
}

@media (max-width: 1040px) {
  .right-image {
    width: 50%;
  }
}

.bottom .cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

.bottom .cards-wrapper img {
  width: 152px;
  height: 195px;
  border-radius: 80px;
}

.bottom .cards-wrapper article {
  display: flex;
  background-color: var(--white-900);
  border-radius: 999px;
}

.bottom .cards-wrapper article .text {
  padding: 31px 29px;
  /* flex: 1; */
}

.bottom .cards-wrapper article .text h2 {
  font-size: clamp(1.375rem, 0.9789rem + 1.6901vw, 2.5rem);
  font-weight: 600;
}
