:root {
  /* Colors */
  --black-900: hsl(0, 0%, 7%);
  --black-500: hsla(0, 0%, 0%, 0.314);
  --white-900: hsl(0, 0%, 100%);
  --white-500: hsla(0, 0%, 100%, 0.5);
  --white-200: hsla(0, 0%, 100%, 0.2);
  --white-100: hsla(0, 0%, 100%, 0.1);

  /* Container */
  --max-width: 1280px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--black-900);
  color: var(--white-900);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  margin-block: 4rem;
}

main {
  position: relative;
  display: grid;
  place-items: center;
  max-width: var(--max-width);
  margin-inline: auto;
  min-height: 100vh;
  background-image: url('../images/bg-image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1280px) {
  main {
    padding-inline: 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-block-start: 169px;
  max-width: 1187px;
}

.content h1 {
  font-size: clamp(3.75rem, 2.7817rem + 4.1315vw, 6.5rem);
  line-height: 1.2;
}

.content p {
  font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem);
  text-align: center;
}

@media (max-width: 720px) {
  .content p {
    text-align: left;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  max-width: 944px;
}

@media (max-width: 720px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.cards article {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: linear-gradient(to right, var(--white-100), var(--white-200));
  border: 1px solid var(--white-500);
  border-radius: 2rem;
  backdrop-filter: blur(3px);
  padding: 1.5rem 2rem;
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.cards article:hover {
  transform: translateY(-5px);
}

.cards article svg {
  flex-shrink: 0;
}
.cards article p {
  font-size: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
}

@media (max-width: 720px) {
  .cards article p {
    max-width: 40ch;
  }
}
