:root {
  /* Colors */
  --black-900: #06040a;
  --black-500: #333333;
  --white-900: #ffffff;
  --white-800: #f8f8f8;
  --blue-100: #e2e7f1;
  --purple-500: #acacda;

  /* Container */
  --max-width: 1280px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-800);
  color: var(--black-900);
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

main {
  max-width: var(--max-width);
  margin-inline: auto;
}

@media (max-width: 1280px) {
  main {
    padding-inline: 1rem;
  }
}

.top {
  display: flex;
  gap: 1rem;
}

@media (max-width: 994px) {
  .top {
    flex-direction: column-reverse;
  }
}

.top .content {
  display: flex;
  flex-direction: column;
  max-width: 694px;
  margin-block-start: 165px;
}

@media (max-width: 1166px) {
  .top .content {
    max-width: 500px;
  }
}

@media (max-width: 994px) {
  .top .content {
    margin-block-start: 0;
    margin-inline: auto;
    max-width: 95%;
  }
}

.top .content h1 {
  font-size: clamp(2rem, 1.1197rem + 3.7559vw, 4.5rem);
  line-height: 1.2;
  white-space: nowrap;
}

.top .content h1:nth-child(2) {
  margin-block-end: 2rem;
}

.top .content .desc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  padding-inline-start: 2rem;
}

.top .content p {
  font-size: clamp(1.125rem, 0.993rem + 0.5634vw, 1.5rem);
  text-wrap: pretty;
}

.top .content button {
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: var(--black-900);
  color: var(--white-900);
  padding: 1.5rem 3.5rem;
  border-radius: 2.5rem;
  font-family: inherit;
  font-size: clamp(1rem, 0.868rem + 0.5634vw, 1.375rem);
  font-weight: 500;
  line-height: 1;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.top .content button:hover {
  background-color: var(--purple-500);
  color: var(--black-900);
}

.top .content .desc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  min-height: 250px;
  background-color: var(--black-500);
}

.top .image-container {
  position: relative;
  z-index: 0;
}

.top .image-container img {
  margin-block-start: 222px;
}

@media (max-width: 994px) {
  .top .image-container img {
    margin-block-start: 3rem;
  }
}

.circle-text {
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -1;
}

@media (max-width: 994px) {
  .circle-text {
    top: 0;
    right: 10%;
  }
}

@media (max-width: 760px) {
  .circle-text {
    left: 0;
  }
}

.bottom {
  margin-block-start: 76px;
  margin-block-end: 4rem;
}

.bottom .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.bottom .cards .card {
  padding: 3rem 2.25rem;
}

.bottom .cards .card:nth-child(odd) {
  background-color: var(--white-900);
}

.bottom .cards .card:nth-child(even) {
  background-color: var(--blue-100);
}

@media (930px > width > 631px) {
  .bottom .cards .card:nth-child(1),
  .bottom .cards .card:nth-child(4) {
    background-color: var(--white-900);
  }

  .bottom .cards .card:nth-child(2),
  .bottom .cards .card:nth-child(3) {
    background-color: var(--blue-100);
  }
}

.bottom .cards .card h2 {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  margin-block-end: 1rem;
}

.bottom .cards .card p {
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  font-weight: 300;
}

/* Utilities */
.pl-4 {
  padding-left: 4rem;
}
