:root {
  /* Colors */
  --black-900: #000000;
  --black-800: #252525;
  --black-500: #333333;
  --white-900: #ffffff;
  --white-800: #f4f4f4;

  /* Container */
  --max-width: 1280px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-800);
  color: var(--black-800);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  height: 100%;
}

@media (max-width: 1280px) {
  body {
    padding-inline: 1rem;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

header {
  max-width: var(--max-width);
  margin: 0 auto;
  border-top: 2px solid var(--black-500);
  border-left: 2px solid var(--black-500);
  border-right: 2px solid var(--black-500);
  text-align: center;
  margin-block-start: 4rem;
}

header h1 {
  font-size: clamp(3.75rem, 3.4859rem + 1.1268vw, 4.5rem);
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  border: 2px solid var(--black-500);
  display: flex;
  margin-block-end: 4rem;
}

@media (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
}

.left {
  border-right: 2px solid var(--black-500);
  max-width: 656px;
  padding: 47px 57px;
}

@media (max-width: 768px) {
  .left {
    border: none;
  }
}

.left .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: 4rem;
}

.left .text h2 {
  font-size: clamp(2.25rem, 1.9859rem + 1.1268vw, 3rem);
  font-weight: 500;
  line-height: 1.2;
}

.left .text p {
  font-size: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
}

.left .text button {
  cursor: pointer;
  width: fit-content;
  background-color: var(--black-800);
  color: var(--white-900);
  border: 0;
  padding: 1.5rem 2.5rem;
  border-radius: 2.5rem;
  line-height: 1;
  font-family: inherit;
  font-size: clamp(1rem, 0.868rem + 0.5634vw, 1.375rem);
  font-weight: 300;
  box-shadow: 8px 8px var(--black-900);
  transition:
    transform 300ms ease-in-out,
    box-shadow 300ms ease-in-out;
  white-space: nowrap;
}

.left .text button:focus,
.left .text button:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
}

.left .card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  gap: 1.5rem;
  border: 2px solid var(--black-500);
  padding: 1.5rem 2.25rem;
  border-radius: 2rem;
}

.left .card h3 {
  font-size: clamp(1.25rem, 1.206rem + 0.1878vw, 1.375rem);
}

.left .card p {
  font-size: 0.875rem;
  color: var(--black-500);
  font-weight: 300;
}

.right {
  display: grid;
  grid-template-areas:
    'img1 img2'
    'img3 img4'
    'img3 img5';
  gap: 1.5rem;
}

@media (max-width: 1233px) {
  .right {
    grid-template-areas:
      'img1 img2'
      'img3 img4'
      'img5 img5';
  }
}

@media (max-width: 945px) {
  .right {
    grid-template-areas:
      'img1'
      'img2'
      'img3'
      'img4'
      'img5';
  }
}

@media (max-width: 768px) {
  .right {
    border-bottom: 2px solid var(--black-800);
    grid-template-areas:
      'img1 img2'
      'img3 img4'
      'img3 img5';
  }
}
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  grid-area: img1;
  padding: 13px 0 0 39px;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}
